.sidebar{
  
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(7, 7, 74);
 position:sticky;
    top: 50px;
}
.sidebarItem{
    
    list-style-type: none; 
    color: white;
    padding: 5px;
}
.sidebartitle{
    color: white;
    font-size: 1.5rem;
    text-align: center ;
}
.sidebarItem span{
    margin: 0rem 1rem;
}
.sidebarItem a{
    text-decoration: none;
    color: white;
}