.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(5, 5, 159);
}
.topbarwrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topNotifiIcon{
    position: relative;
    color: white;
}
.topIconBag{
    position: absolute;
    width: 15px;
    height: 15px;
    top:-5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    

}
.right{
    display: flex;
    align-items: center;
    padding: 3px;
}
.logOutIcon, .UserIcon {
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer; /* Change mouse pointer to hand */
}

.logOutIcon:hover, .UserIcon:hover {
    color: rgb(237, 186, 186); /* Change the color on hover */
}
.left{
    .logo{
        font-size: 1rem;
        color: white;
        
    }
}
.topbarwrapper .right .userInfo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color:wheat;
  }
  
  .topbarwrapper .right .userInfo .profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .topbarwrapper .right .userInfo .userName {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .topbarwrapper .right .userInfo .userRole {
    color: rgb(251, 3, 3);
    margin-right:20px ;
  }
  


